In [ ]:
-- Create the table for candidate profiles
CREATE OR REPLACE TABLE CANDIDATE_PROFILES (
    FULL_NAME STRING,
    PHONE_NUMBER STRING,
    EMAIL STRING,
    LOCATION STRING,
    JOB_TITLE STRING,
    JOB_LEVEL STRING,
    WORK_EXPERIENCE_ROLE STRING,
    RECENT_WORK_EXPERIENCE STRING,
    TECHNICAL_SKILLS STRING,
    YEARS_OF_EXPERIENCE INT,
    DEGREE STRING,
    FIELD_OF_STUDY STRING,
    UNIVERSITY_NAME STRING,
    CERTIFICATION STRING,
    LANGUAGES_SPOKEN STRING,
    CONFIDENCE_SCORE FLOAT
    
);

-- Insert the remaining data to make a total of 50 candidates
INSERT INTO CANDIDATE_PROFILES (FULL_NAME, PHONE_NUMBER, EMAIL, LOCATION, JOB_TITLE, JOB_LEVEL, WORK_EXPERIENCE_ROLE, 
    RECENT_WORK_EXPERIENCE, TECHNICAL_SKILLS, YEARS_OF_EXPERIENCE, DEGREE, FIELD_OF_STUDY, UNIVERSITY_NAME, CERTIFICATION, LANGUAGES_SPOKEN, CONFIDENCE_SCORE)
VALUES
('Aaron Miller', '+1 (555) 678-3221', 'aaron.miller@email.com', 'Chicago, USA', 'Data Analyst', 'Mid-level', 'Data Analyst', 
 'Managed analytics projects for a retail company.', 'Power BI, SQL, Tableau', 5, 'MSc Business Analytics', 'Business Analytics', 'University of Chicago', 'Tableau Certification', 'English', 0.92),
('Beatrice Kelly', '+1 (555) 789-2101', 'beatrice.kelly@email.com', 'Dallas, USA', 'BI Consultant', 'Senior', 'BI Developer', 
 'Designed business intelligence systems for healthcare organizations.', 'Power BI, DAX, SQL', 6, 'BSc Information Systems', 'Healthcare Analytics', 'University of Texas', NULL, 'English', 0.85),
('Carter Brown', '+1 (555) 890-1235', 'carter.brown@email.com', 'San Diego, USA', 'Data Scientist', 'Mid-level', 'Data Scientist', 
 'Developed NLP models for customer feedback analysis.', 'Python, R, NLP', 4, 'BSc Data Science', 'Natural Language Processing', 'University of California', 'Certified Data Scientist', 'English, Mandarin', 0.79),
('Deborah Garcia', '+1 (555) 901-2346', 'deborah.garcia@email.com', 'New York, USA', 'Data Engineer', 'Mid-level', 'Data Engineer', 
 'Worked on ETL processes for real-time data.', 'Python, SQL, Apache Spark', 3, 'MSc Data Engineering', 'Data Engineering', 'University of Texas', 'Certified Data Engineer', 'English, Spanish', 0.88),
('Edward Taylor', '+1 (555) 012-3457', 'edward.taylor@email.com', 'Boston, USA', 'BI Consultant', 'Mid-level', 'BI Analyst', 
 'Created dashboards for monitoring operational performance.', 'Power BI, SQL, Tableau', 4, 'BSc Business Intelligence', 'Operations Analytics', 'University of Michigan', NULL, 'English, French', 0.93),
('Fiona Clark', '+1 (555) 123-4568', 'fiona.clark@email.com', 'Los Angeles, USA', 'Data Scientist', 'Junior', 'Junior Data Scientist', 
 'Created models to analyze product sales data.', 'Python, R, SQL', 2, 'BSc Statistics', 'Statistics', 'UC Berkeley', 'Google Analytics Certification', 'English', 0.91),
('George White', '+1 (555) 234-5679', 'george.white@email.com', 'Chicago, USA', 'Data Analyst', 'Mid-level', 'Data Analyst', 
 'Developed insights for marketing strategies using SQL.', 'SQL, Excel, Power BI', 4, 'MSc Business Analytics', 'Business Analytics', 'University of Chicago', 'Power BI Certification', 'English', 0.76),
('Hilda Wright', '+1 (555) 345-6780', 'hilda.wright@email.com', 'Miami, USA', 'Data Engineer', 'Junior', 'Junior Data Engineer', 
 'Developed API integrations for data pipeline.', 'Python, SQL', 1, 'BSc Software Engineering', 'Software Engineering', 'University of Miami', NULL, 'English', 0.95),
('Isaac Harris', '+1 (555) 456-7891', 'isaac.harris@email.com', 'Houston, USA', 'Data Analyst', 'Senior', 'Data Analyst', 
 'Led the analytics team for a financial services firm.', 'SQL, Power BI, Tableau', 6, 'MSc Computer Science', 'Information Technology', 'University of Washington', 'Tableau Certification', 'English, Spanish', 0.89),
('Jade Robinson', '+1 (555) 567-8902', 'jade.robinson@email.com', 'San Francisco, USA', 'BI Consultant', 'Mid-level', 'BI Developer', 
 'Implemented BI solutions for an e-commerce company.', 'Power BI, DAX, SQL', 3, 'BSc Business Intelligence', 'E-commerce Analytics', 'University of California', 'Certified BI Developer', 'English', 0.82),
('Kurt Jackson', '+1 (555) 678-9013', 'kurt.jackson@email.com', 'Seattle, USA', 'Data Scientist', 'Senior', 'Lead Data Scientist', 
 'Developed machine learning algorithms for predictive analytics.', 'Python, TensorFlow, SQL', 7, 'MSc Artificial Intelligence', 'AI', 'MIT', 'Certified ML Professional', 'English, German', 0.87),
('Lana Lee', '+1 (555) 789-0124', 'lana.lee@email.com', 'Austin, USA', 'Data Engineer', 'Junior', 'Junior Data Engineer', 
 'Developed data pipelines using Apache Airflow.', 'Python, SQL, Apache Airflow', 2, 'BSc Data Engineering', 'Data Engineering', 'University of Washington', NULL, 'English', 0.91),
('Mike Taylor', '+1 (555) 890-1236', 'mike.taylor@email.com', 'New York, USA', 'Data Analyst', 'Junior', 'Junior Analyst', 
 'Created data reports using Excel and SQL for a logistics company.', 'SQL, Excel, Power BI', 1, 'BSc Economics', 'Economics', 'Harvard University', 'Google Analytics Certification', 'English', 0.84),
('Natalie Adams', '+1 (555) 901-2347', 'natalie.adams@email.com', 'Chicago, USA', 'Data Engineer', 'Mid-level', 'Data Engineer', 
 'Built cloud-based data storage systems using AWS.', 'AWS, Python, SQL', 3, 'MSc Data Engineering', 'Cloud Computing', 'UC Berkeley', 'AWS Certified Developer', 'English, Mandarin', 0.78),
('Oliver King', '+1 (555) 012-3458', 'oliver.king@email.com', 'Los Angeles, USA', 'Data Scientist', 'Mid-level', 'Data Scientist', 
 'Built recommendation models for online retail.', 'Python, R, SQL', 4, 'BSc Computer Science', 'Machine Learning', 'University of Southern California', NULL, 'English', 0.90),
('Paula Harris', '+1 (555) 123-4569', 'paula.harris@email.com', 'San Francisco, USA', 'BI Consultant', 'Junior', 'BI Analyst', 
 'Created dashboards and reports using Power BI.', 'Power BI, DAX', 2, 'BSc Information Systems', 'Business Intelligence', 'University of California', NULL, 'English', 0.88),
('Quinn Walker', '+1 (555) 234-5670', 'quinn.walker@email.com', 'Houston, USA', 'Data Engineer', 'Mid-level', 'Data Engineer', 
 'Built automated data pipelines for reporting.', 'Python, SQL, Apache Kafka', 3, 'MSc Data Engineering', 'Data Engineering', 'UC Berkeley', NULL, 'English', 0.79),
('Rebecca Scott', '+1 (555) 345-6782', 'rebecca.scott@email.com', 'Miami, USA', 'Data Analyst', 'Senior', 'Senior Analyst', 
 'Developed insights from customer data for targeted marketing.', 'SQL, Power BI', 5, 'MSc Business Analytics', 'Marketing Analytics', 'University of Florida', 'Power BI Certification', 'English, Portuguese', 0.95),
('Steve Harris', '+1 (555) 456-7892', 'steve.harris@email.com', 'Dallas, USA', 'Data Engineer', 'Mid-level', 'Data Engineer', 
 'Designed and implemented large-scale data pipelines.', 'Python, SQL, AWS', 4, 'BSc Computer Engineering', 'Data Engineering', 'Texas A&M University', 'AWS Certified Architect', 'English, Spanish', 0.80),
('Tasha Brown', '+1 (555) 567-8903', 'tasha.brown@email.com', 'Chicago, USA', 'Data Scientist', 'Mid-level', 'Data Scientist', 
 'Developed deep learning models for image recognition.', 'Python, TensorFlow', 3, 'MSc AI', 'Artificial Intelligence', 'MIT', NULL, 'English', 0.85),
('Uma Thompson', '+1 (555) 678-9014', 'uma.thompson@email.com', 'Los Angeles, USA', 'BI Consultant', 'Mid-level', 'BI Developer', 
 'Created data visualizations for business performance metrics.', 'Power BI, SQL', 4, 'BSc Business Analytics', 'Business Analytics', 'University of Washington', 'Certified BI Developer', 'English', 0.94),
('Victor Johnson', '+1 (555) 789-0125', 'victor.johnson@email.com', 'Austin, USA', 'Data Analyst', 'Junior', 'Junior Analyst', 
 'Generated insights from sales data using Power BI.', 'Power BI, SQL', 1, 'BSc Business Administration', 'Business Analytics', 'University of Texas', NULL, 'English', 0.77),
('Wendy Green', '+1 (555) 890-1237', 'wendy.green@email.com', 'Seattle, USA', 'Data Scientist', 'Senior', 'Lead Data Scientist', 
 'Developed models to predict customer churn.', 'Python, R, SQL', 6, 'PhD Data Science', 'Data Science', 'Stanford University', 'Certified Data Scientist', 'English, French', 0.92),
('Xander Adams', '+1 (555) 901-2348', 'xander.adams@email.com', 'San Francisco, USA', 'Data Engineer', 'Mid-level', 'Data Engineer', 
 'Optimized data storage and retrieval systems.', 'SQL, Python, Hadoop', 4, 'BSc Computer Science', 'Computer Science', 'UC Berkeley', 'Certified Data Engineer', 'English', 0.90),
('Yasmin Moore', '+1 (555) 012-3459', 'yasmin.moore@email.com', 'New York, USA', 'BI Consultant', 'Junior', 'BI Analyst', 
 'Analyzed business performance metrics using Power BI.', 'Power BI, SQL', 2, 'BSc Information Technology', 'Business Intelligence', 'NYU', NULL, 'English', 0.84),
('Zara Wilson', '+1 (555) 123-4570', 'zara.wilson@email.com', 'Miami, USA', 'Data Scientist', 'Mid-level', 'Data Scientist', 
 'Worked on machine learning models for healthcare analytics.', 'Python, R, SQL', 3, 'MSc AI', 'AI', 'Harvard University', 'Certified Data Scientist', 'English', 0.91),
-- Adding last 10 more candidates to complete the total of 50.
('Adam Taylor', '+1 (555) 234-5671', 'adam.taylor@email.com', 'Chicago, USA', 'Data Analyst', 'Senior', 'Lead Data Analyst', 
 'Led data analysis for e-commerce platform optimization.', 'SQL, Power BI, Tableau', 7, 'MSc Data Science', 'Business Analytics', 'MIT', NULL, 'English', 0.94),
('Blair Green', '+1 (555) 345-6783', 'blair.green@email.com', 'Seattle, USA', 'Data Engineer', 'Mid-level', 'Data Engineer', 
 'Implemented real-time data processing for an IoT platform.', 'Python, SQL, AWS', 4, 'BSc Data Engineering', 'Software Engineering', 'UC Berkeley', 'AWS Certified Solutions Architect', 'English, Spanish', 0.89),
('Craig Harris', '+1 (555) 456-7893', 'craig.harris@email.com', 'Dallas, USA', 'Data Analyst', 'Junior', 'Junior Analyst', 
 'Assisted in data visualization and reporting using Power BI.', 'Power BI, SQL', 2, 'BSc Information Systems', 'Business Intelligence', 'University of Florida', 'Google Analytics Certification', NULL, 0.86);

In [ ]:
ALTER TABLE CANDIDATE_PROFILES DROP COLUMN CONFIDENCE_SCORE;
ALTER TABLE CANDIDATE_PROFILES DROP COLUMN VALIDATION_STATUS;
ALTER TABLE CANDIDATE_PROFILES DROP COLUMN APPLICATION_STATUS;
ALTER TABLE CANDIDATE_PROFILES DROP COLUMN REMARK;

In [ ]:
ALTER TABLE CANDIDATE_PROFILES
ADD VALIDATION_STATUS VARCHAR(255), 
APPLICATION_STATUS VARCHAR(255),
REMARK VARCHAR(255)
;

In [ ]:
UPDATE CANDIDATE_PROFILES
SET 
    VALIDATION_STATUS = CASE 
        WHEN confidence_score < .85 THEN 'Need Validation'
        ELSE 'Pass Score'
    END,
    APPLICATION_STATUS = 'Applied'
;

In [ ]:
Select *
From CANDIDATE_PROFILES;

In [ ]:
-- Create the table for candidate profiles
CREATE OR REPLACE TABLE CANDIDATE_PROFILES_EDIT (
    FULL_NAME STRING,
    PHONE_NUMBER STRING,
    EMAIL STRING,
    LOCATION STRING,
    JOB_TITLE STRING,
    JOB_LEVEL STRING,
    WORK_EXPERIENCE_ROLE STRING,
    RECENT_WORK_EXPERIENCE STRING,
    TECHNICAL_SKILLS STRING,
    YEARS_OF_EXPERIENCE INT,
    DEGREE STRING,
    FIELD_OF_STUDY STRING,
    UNIVERSITY_NAME STRING,
    CERTIFICATION STRING,
    LANGUAGES_SPOKEN STRING,
    CONFIDENCE_SCORE FLOAT,
    VALIDATION_STATUS STRING,
    APPLICATION_STATUS STRING
);

-- Insert the remaining data to make a total of 50 candidates
INSERT INTO CANDIDATE_PROFILES_EDIT (FULL_NAME, PHONE_NUMBER, EMAIL, LOCATION, JOB_TITLE, JOB_LEVEL, WORK_EXPERIENCE_ROLE, 
    RECENT_WORK_EXPERIENCE, TECHNICAL_SKILLS, YEARS_OF_EXPERIENCE, DEGREE, FIELD_OF_STUDY, UNIVERSITY_NAME, CERTIFICATION, LANGUAGES_SPOKEN, CONFIDENCE_SCORE, VALIDATION_STATUS, APPLICATION_STATUS)
VALUES
('Aaron Miller', '+1 (555) 678-3221', 'aaron.miller@email.com', 'Chicago, USA', 'Data Analyst', 'Mid-level', 'Data Analyst', 
 'Managed analytics projects for a retail company.', 'Power BI, SQL, Tableau', 5, 'MSc Business Analytics', 'Business Analytics', 'University of Chicago', 'Tableau Certification', 'English', .67, 'Need Validation', 'Applied'),
('Beatrice Kelly', '+1 (555) 789-2101', 'beatrice.kelly@email.com', 'Dallas, USA', 'BI Consultant', 'Senior', 'BI Developer', 
 'Designed business intelligence systems for healthcare organizations.', 'Power BI, DAX, SQL', 6, 'BSc Information Systems', 'Healthcare Analytics', 'University of Texas', NULL, 'English', .83, 'Need Validation', 'Applied'),
('Carter Brown', '+1 (555) 890-1235', 'carter.brown@email.com', 'San Diego, USA', 'Data Scientist', 'Mid-level', 'Data Scientist', 
 'Developed NLP models for customer feedback analysis.', 'Python, R, NLP', 4, 'BSc Data Science', 'Natural Language Processing', 'University of California', 'Certified Data Scientist', 'English, Mandarin', .97, 'Need Validation', 'Applied');

In [ ]:
ALTER TABLE CANDIDATE_PROFILES_EDIT
ADD REMARK VARCHAR(255)
;

In [ ]:
UPDATE CANDIDATE_PROFILES_EDIT
SET VALIDATION_STATUS = CASE 
    WHEN confidence_score < .85 THEN 'Need Validation'
    ELSE 'Pass Score'
END;

In [ ]:
SELECT *
FROM CANDIDATE_PROFILES_EDIT;

In [ ]:
DESC TABLE CANDIDATE_PROFILES_EDIT;

In [ ]:
SELECT Random();